img { 
   max-height: 500px;
}
p {
    font-size: 25px;
    max-width: 200px;
}

ul {
    font-size: 40px;
}

h3 {
    font-size: 60px;
    color:white;
}

#lol { 
	
    font-size: 60px;
    color:#e916de;
}

#veherinca {
    font-size: 60px;
    color:#5FD3B3;
}

#h8 {
    max-height: 100%;
}

h1 {
    font-size: 50px;
}

.vip {
    font-size: 50;
    background:#892276;
    color:#5FD3B3;
} 
#n3{
  color:white; 
  font-size:60px; 
  max-width:200 px;
} 
html{
  background:#ddb0d7;
} 
#b222{ 
 color:#d42b9c;
  font-size:60px;
} 
#Hero{ 
  font-size:60px;
  color:white;
} 
.Book{
  max-width:15%;
} 
#v833{ 
  max-height:50%;
  font-size:50px; 
  color:#0000FF;
} 

#M333{
  color:white;
  font-size:50px;
} 
#MM3{
  color:#01fedc;
  font-size:50px;
} 
.y3{
  color:#e916de; 
  font-size:50px;
} 
.Т222{ 
  color:#e916de;
 font-size:50px; 
} 
#end{
  color:gray;
} 
#ss2{
	max-width:100px; 
} 
#Adres{
	color:white;
} 
.ZZZ{
	max-height:60%;
} 
#dТ222{
	color:#01fedc; 
	font-size:50px;
} 
#dee{
	background:White;
} 

#kнопка{
	max-width:150px;
} 
.aaa{
	max-height:250px;
}
#qqqqq{
	color:white;
	font-size:60px;
}